.dostavka{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background: rgba(248, 241, 241, 0.1);
    height:calc(100% - 25px) ;
    width: 50%;
    opacity: 0;
    animation: mask 1.5s forwards; 
    margin: 0 auto 0 auto ;
}
@keyframes mask {
    100%{
      opacity: 1;  
    }
}
.dostavka h2{
color:#000000;
padding: 20px 0px 0px 0px ;
font-size: 40px;
text-align:  center;
font-weight: 700;

}
.dostavka_desc1{
    font-size: 20px;
    color: black;
  text-align: center;
  font-weight: 600;
  line-height: 30px;
  animation: glow 1.5s ease-in-out infinite alternate;
  
}
@media(max-width:527px){
    .dostavka{
        width: 98%;    
    }
    
}

@keyframes glow {
    from {
      text-shadow: 0 0 1px #fff, 0 0 4px #fff, 0 0 7px #5067ce, 0 0 10px #5067ce, 0 0 13px #5067ce, 0 0 16px #5067ce, 0 0 19px #5067ce;
    }
    to {
      text-shadow: 0 0 1px #fff, 0 0 4px #4dff7a, 0 0 7px #4dff7a, 0 0 10px #4dff7a, 0 0 13px #4dff7a, 0 0 16px #4dff7a, 0 0 19px #4dff7a;
    }
  }

 