@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.contact{
    z-index: 2;
    width: 100%;
    height: 400px;
    margin: 0px 0 0px 0;
   display: flex;
   justify-content: center;
position: relative;
padding: 0px 0px 20px 0px ;
}
.contact input, textarea {
    background: rgba(0, 0, 0, 0);
}
.modalB{
   position: absolute;
   left: calc(50% - 75px);bottom: 20px;
}
.contactWrap{
    width: 50%;
    height: 100%;
    border-radius: 5px;
    /* box-shadow: 0 0 10px black; */
position: relative;
}
.contacth2{
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0 35px 0;
    display: flex;
    justify-content: center;
} 
.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;top: 0;
    border-radius: 5px;
    background: white;
    margin: 0 0 0 0;
}

.modalh2{
    text-align: center;
    font-weight: 700;
    margin: 10px 0px 0px 0px ;
}
.modaltext{
    text-align: center;
    font-size: 15px;
    padding: 0 4px 0 4px;
    line-height: 20px;
}
.animation{
    margin-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.contactContainer{
    width: 90%;
    margin: 0 auto 0 auto;
}
.name{
    height: 40px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin: 0 0 25px 0;
}
.name:nth-child(3){
    margin: 0 0 10px 0;
}
.name>div{
    margin: 3px 5px 0 10px;
   font-size: 20px;
  
}
.name:nth-child(1)>div{
   color: rgb(101, 0, 126);
}
.name:nth-child(3)>div{
    color: rgb(103, 68, 255);
 }
 .name:nth-child(2)>div{
    color: rgb(67, 174, 201);
    
 }

.name input{
    height: 100%;
    font-size: 20px;
    width: calc(100% - 65px);
    padding: 10px;
}
.warn{
    margin: 10px 0px 0px 0px ;
    color: rgb(141, 22, 22);
}
.name input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
  }
  .contact button{
    background-color: #378C3F;
    color: #fff;
    padding: 11px 22px;
    margin-top: 10px;
    width: 150px;
    border-radius: 5px;
    outline: none;
  }
  .warning{
      margin: 10px 0 0 0;
      color: rgb(30, 109, 173);
  }
  @media(max-width:987px){
    .contactWrap{
        width: 75%;
    }
}
@media(max-width:527px){
    .contactWrap{
        width: 100%;
    }
    .name input{
        font-size: 18px;
    }
    .contactWrap{

        box-shadow: 0 0 0;
        
    }
}
@media(max-width:350px){
 
    .contacth2{
      font-size: 25px;
  margin-top: 5px;
      }
     
  }