@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.footer{
    padding: 10px 0px 0px 0px ;
    background: #000;
    width: 100%;
    height: 82px;
    // margin: 0px 0px -10px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cert{
    position: absolute;
    color: #44413c;
    font-size: 15px;
    top: 60px;
}
.footer_refs{
    width: 50%;
    display: flex;
    margin: -30px 0px 0px 0px ;
    justify-content: space-around;
}
.footer_refs span{
    font-size: 20px;
    cursor: pointer;
}
.footer_refs span a{
    color: #44413c;}
.footer_refs span  i{
    transition: all 0.3s ease;
}
.footer_refs span:nth-child(2) i:hover{
    color: green;
}
.footer_refs span:nth-child(1) i:hover{
    color: rgb(128, 0, 70);
}
.footer_refs span:nth-child(3) i:hover{
    color: rgb(70, 102, 207);
}
@media(max-width:400px){
    .cert{
     
        font-size: 12.5px;
       
    }
}