.footer span{
    display: block;
}
.footer{
    padding: 10px 0px 0px 0px ;
    background: #000;
    height: 90px;
text-align: center;
font-size: 14px;
color: white;
line-height: 12px;
    width: 100%;
}